
// ignore the file of compilation of latex

*.aux
*.bbl
*.blg
*.dvi
*.idx
*.ilg
*.ind
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.run.xml
*.pdfsync
*.synctex
*.xdv
*.nav
*.snm
*.vrb
*.xdy


plan_latex.md
plan.md

derivation_lorenz.md
parareal.md

.md

// ignore file 
=======

lorenz_env/

nouveau_plan.md
ameliorations.md
ab2.md
nouveau_plan.md
scenarios.md

docs/
Presentation/
figure.md
